* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: black; 
}

/*-------------------------Navigation and Socials-------------------------*/

nav {
    position: fixed;
    top: 0px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    left: -200px;
    width: 200px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: left 0.5s;
    z-index: 999;
}

#listndbrand {
    display: flex;
    align-items: center;
    font-size: 25px;
}

#closemenud {
    margin: 34px 10px;
    transition: color 0.5s;
}

#closemenud:hover {
    color: white;
    cursor: pointer;
}

#closem {
    display: none;
}

#mainnav {
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidenav {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav hr {
    margin: 30px 0 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.1);
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    margin: 10px 0;
    color: white;
    padding: 10px;
    list-style: none;
    border: 1px  gray;
}

nav li a {
    position: relative;
}

nav li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav li a:hover::after {
    width: 100%;
}

nav i {
    color: #ff004f;
}

#socials {
    font-size: 25px;
}

#socials a i {
    transition: color 0.5s, transform 0.5s;
    margin: 0 5px;
}

#socials a:hover i {
    color: white;
    transform: translateY(-5px);
}

#copyright {
    margin-top: 30px;
}

#copyright p {
    color: white;
}

/*-------------------------The Main container-------------------------*/

.container {
    height: 100%;
}

/*-------------------------Search and Log section-------------------------*/

#searchndlog {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 10;
}

#searchndlog i {
    color: #ff004f;
    font-size: 25px;
}

#mopenm {
    transition: color 0.5s;
}

#mopenm:hover {
    color: white;
    cursor: pointer;
}

#mobilelogo {
    display: none;
}

#logo {
    text-decoration: none;
    color: #ff004f;
    font-size: 33px;
}

#logo i {
    color: white;
    font-size: 30px;
}

#searchndlog form {
    display: flex;
    align-items: center;
    gap: 13px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ff004f;
    border-radius: 15px;
    color: white;
    padding-left: 15px;
}

#searchndlog form button {
    background: none;
    border: none;
}

#searchndlog form button i {
    transition: color 0.5s;
}

#searchndlog form button:hover i {
    cursor: pointer;
    color: white;
}

#searchndlog input {
    width: 400px;
    height: 45px;
    font-size: 17px;
    border-radius: 15px;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 15px;
    color: white;
}

#searchndlog input::placeholder {
    color: white;
    font-size: 17px;
}

#logs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#logs i {
    font-size: 17px;
}

#logselect {
    margin: 0 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background 0.5s;
}

#logselect:hover {
    background: white;
}

.selection {
    text-decoration: none;
    color: white;
    border: 1px solid #ff004f;
    padding: 10px 15px;
    border-radius: 15px;
    opacity: 0;
    transition: color 0.5s, background 0.5s, opacity 0.5s;
}

.selection:hover {
    background: white;
    color: #ff004f;
}

/*-------------------------Header section-------------------------*/

header {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    margin: 70px auto 0;
}

header #prev, header #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    position: absolute;
    top: 43%;
    border-radius: 50%;
    font-size: 2vw;
    transition: all 0.5s ease;
}

header #prev {
    left: 10px;
}

header #next {
    right: 10px;
}
  
header #prev:hover, header #next:hover {
    background-color: black;
}

#slideWrap {
    position: relative;
    width: 10000%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 2s ease;
    left: 0;
}

.slider-page {
    position: relative;
    width: 100vw;
    height: 100%;
    float: left;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.dots {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
}

.dot 
{
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: transparent;
    border: 1px solid #262626;
    border-radius: 50%;
    transition: border-color 0.6s ease;
}
  
.active 
{
  border-color: white;
}

.slider-page:nth-child(1) {
    background: url(Images/header.jpeg);
    background-size: cover;
    color: white;
    font-size: 40px;
}

.slider-page:nth-child(2) {
    background: url(Images/header3.jpeg);
    background-size: cover;
    color: black;
    font-size: 40px;
}

.slider-page:nth-child(2) #headerbtn {
    color: black;
}

.slider-page:nth-child(3) {
    background: url(Images/header4.png);
    background-size: cover;
    color: white;
    font-size: 40px;
}

#scroll {
    margin-left: 50px;
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 60%;
    line-height: 80px;
}

#headerbtn {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid #ff004f;
    border-radius: 15px;
    transition: color 0.5s, background 0.5s;
}

#headerbtn:hover {
    background: white;
    color: #ff004f;
}

.slider-page:nth-child(2) #headerbtn:hover {
    background: black;
    color: white;
}

#headerbtn i {
    color: #ff004f;
}

/*-------------------------Main Body and Thumbnail section-------------------------*/

#mainbody {
    padding: 50px 20px;
}

#thumbcontainer {
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.thumbnail {
    width: 330px;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.9s;
}

.thumbimg {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.description {
    margin: 10px 10px;
    display: flex;
}

.description img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.thumbtext {
    margin-left: 20px;
    padding-top: 10px;
}

.thumbtext p {
    color: white;
}

.extrad {
    font-size: 12px;
}

.extraoptions {
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-bottom: 15px;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.extraoptions div {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ff004f;
    border-radius: 15px;
}

.thumbnail:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.thumbnail:hover .extraoptions {
    opacity: 1;
}

/*-------------------------Footer section-------------------------*/

#footerm {
    display: none;
}

/*-------------------------Responsiveness for mobile-------------------------*/

@media only screen and (max-width: 1050px) {
    nav {
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);        
        left: -200px;
        z-index: 99;
        transition: left 0.5s;
    }

    .container {
        width: 100%;
    }

    nav li a i {
        display: block;
        color: #ff004f;
    }

    nav img {
        display: none;
    }

    nav i {
        color: #ff004f;
    }

    nav li a:hover::after {
        display: none;
    }

    #others {
        display: none;
    }

    #closemenud {
        display: none;
    }

    #closem {
        display: block;
        margin: 40px 0;
    }

    #mopenm:hover {
        color: #ff004f;
    }

    #searchndlog {
        height: 80px;
    }

    #searchndlog .fa-video {
        color: white;
        display: block;
    }

    #logo {
        display: none;
    }

    #searchndlog input {
        width: 250px;
    }

    #logselect {
        margin: 0;
    }

    #logselect:hover {
        background: none;
    }

    .selection {
        margin: 0 20px;
    }

    header {
        margin-top: 80px;
    }

    header #prev, header #next {
        font-size: 25px;
        background: black;
    }

    header #prev:hover, header #next:hover {
        background: black;
    }

    .slider-page:nth-child(1) {
        background: url(Images/header1red.jpg);
        background-size: cover;
    }
    
    .slider-page:nth-child(2) {
        background: url(Images/header3red.jpg);
        background-size: cover;
    }

    .slider-page:nth-child(3) {
        background: url(Images/header4red.jpg);
        background-size: cover;
    }

    #scroll {
        top: 30%;
        width: 100%;
    }

    #premium {
        display: none;
    }
    
    .thumbnail {
        margin: 30px auto;
    }

    #footerm {
        position: absolute;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    #footerm i {
        color: #ff004f;
    }
    
    #socials a i {
        margin: 0 20px;
    }

    #socials a:hover i {
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    .selection {
        display: none;
    }

    #scroll {
        top: 5%;
    }

    #scroll h1 {
        font-size: 42px;
    }

    #headerbtn {
        font-size: 20px;
    }

    #searchndlog input {
        width: 150px;
    }
}
