* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, blue, #ff004f);    
}

header {
    background: url(Images/Background.jpg);
    background-size: cover;
    height: 83vh;
    border-bottom: 8px solid rgb(45, 42, 42);
    position: relative;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
}

#logo {
    width: 150px;
    height: 70px;
    margin-top: 30px;
    margin-left: 50px;
}

.logandN {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#signin {
    height: fit-content;
    margin-top: 30px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    background: red;
    padding: 7px 18px;
    border-radius: 5px;
    font-weight: 300;
}

.header-text {
    text-align: center;
    color: white;
    margin-top: 9%;
}

.header-text h1 {
    font-weight: 600;
    font-size: 50px;
}

.header-text h2 {
    font-weight: 300;
    font-size: 26px;
    margin-top: 15px;
}

.header-text h3, .questions h3 {
    color: white;
    font-weight: 300;
    font-size: 19px;
    margin-top: 30px;
}

.layer {
    background: rgba(0, 0, 0, 0.6);
}

.register {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

input {
    width: 450px;
    height: 58px;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 10px;
}

#regbtn {
    text-decoration: none;
    color: white;
    background: red;
    padding: 13px 15px;
    font-size: 25px;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    width: 210px;
}

#regbtn:hover {
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px solid rgb(45, 42, 42);
}

.row-content {
    color: white;
    flex-basis: 50%;
}

.row-content h1 {
    font-size: 50px;
}

.row-content h2 {
    margin-top: 20px;
    font-weight: 300;
}

.details {
    margin: auto;
    margin-left: 150px;
    width: 70%;
    padding: 50px 0;
}

#theother {
    transform: scale(0.75);
    margin-left: 90px;
}

.details2 {
    margin: auto;
    margin-right: 150px;
    width: 80%;
}

#theone {
    margin-right: 100px;
    padding-bottom: 40px;
}

.questions {
    text-align: center;
    border-bottom: 8px solid rgb(45, 42, 42);
}

.questions h1 {
    color: white;
    font-weight: 600;
    font-size: 50px;
    margin: 70px 0 60px;
}

.questions form {
    margin-bottom: 80px;
}

#test {
    color: white;
    width: 58px;
    height: 58px;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 10px;
    background: black;
    border: 3px solid red;
    border-radius: 50%;
    transition: width 0.5s, border-radius 0.5s;
}

#test::placeholder {
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

#test:hover {
    width: 450px;
    border-radius: 10px;
    background: white;
}

#test:hover::placeholder {
    opacity: 1;
    color: black;
}