* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: black; 
}

/*-------------------------Navigation and Socials-------------------------*/

main {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 18%; 
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
    z-index: 999;
    border: 1px solid blue;
}

#listndbrand {
    display: flex;
    align-items: center;
    font-size: 25px;
}

#openm {
    margin: 0 5px;
}

#closem {
    display: none;
}

#mopenm {
    display: none;
}

nav img {
    width: 200px;
    height: 110px;
}

#mainnav {
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidenav {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav hr {
    margin: 30px 0 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.1);
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    margin: 10px 0;
    color: white;
    padding: 10px;
    list-style: none;
    border: 1px  gray;
}

nav li a {
    position: relative;
}

nav li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav li a:hover::after {
    width: 100%;
}

nav i {
    color: #ff004f;
}

#socials {
    font-size: 25px;
}

#socials a i {
    transition: color 0.5s, transform 0.5s;
    margin: 0 5px;
}

#socials a:hover i {
    color: white;
    transform: translateY(-5px);
}

#copyright {
    margin-top: 30px;
}

#copyright p {
    color: white;
}

/*-------------------------The Main section-------------------------*/

.container {
    width: 70%;
    height: 100vh;
    border: 1px solid red;
}

header {
    height: 50vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#searchndlog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 110px;
    background: rgba(255, 255, 255, 0.1);
}

#searchndlog i {
    color: #ff004f;
    font-size: 25px;
}

#searchndlog form {
    display: flex;
}

#searchndlog input {
    width: 400px;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ff004f;
    border-radius: 15px;
    color: white;
}

#searchndlog input[type="submit"] {
    width: 100px;
}

#logs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#logs i {
    font-size: 17px;
}

#logselect {
    margin: 0 20px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background 0.5s;
}

#logselect:hover {
    background: white;
    cursor: pointer;
}

.selection {
    text-decoration: none;
    color: white;
    border: 1px solid #ff004f;
    padding: 10px 15px;
    border-radius: 15px;
    transition: color 0.5s, background 0.5s;
}

.selection:hover {
    background: white;
    color: #ff004f;
}

/*-------------------------------LOGNAV-----------------------------------*/

#lognav {
    background: #ff004f;
    width: 200px;
    height: 100vh;
    z-index: 10;
}

#lognav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff004f;
    top: 0;
    right: 200px;
    width: 200px;
    height: 100vh;
    z-index: 2;
}

#lognav li {
    margin: 30px 0;
}

#lognav a {
    color: white;
    text-decoration: none;
}

/*-------------------------Responsiveness for mobile-------------------------*/

@media only screen and (max-width: 950px) {
    nav {
        background: #ff004f;
        left: -200px;
        width: 200px;
        z-index: 2;
        transition: left 0.5s;
    }

    .container {
        width: 100%;
    }

    nav li a i {
        display: block;
        color: white;
    }

    nav img {
        display: none;
    }

    nav i {
        color: white;
    }

    nav li a:hover::after {
        display: none;
    }

    #openm {
        display: none;
    }

    #closem {
        display: block;
        margin: 30px 0;
    }

    #mopenm {
        display: block;
        margin-left: 20px;
    }

    #socials a:hover i {
        transform: none;
    }

    #searchndlog {
        height: 80px;
    }

    #searchndlog input {
        width: 200px;
    }

    #searchndlog input[type="submit"] {
        display: none;
    }

    #logselect {
        margin: 0;
    }

    #logselect:hover {
        background: none;
    }

    .selection {
        display: none;
    }

    #lognav {
        display: block;
        background: #ff004f;
        top: 0;
        right: 200px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: left 0.5s;
    }

    #lognav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ff004f;
        top: 0;
        right: 200px;
        width: 200px;
        height: 100vh;
        z-index: 2;
    }
    
    #lognav li {
        margin: 30px 0;
    }
    
    #lognav a {
        color: white;
        text-decoration: none;
    }
}